---
layout: default
---

{{ content }}
<style>
  table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders between cells are merged */
  }
  th, td {
    border: 1px solid black; /* Adds a black border around each cell */
    padding: 10px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2; /* Optional: adds a background color to the header */
  }
</style>

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Courses</h3>
    {% for course in site.data.settings.courses %}
      <p><a href="{{ site.github.url }}/courses/{{ course.url}}">{{ course.name }}</a></p>
    {% endfor %}
  </div>
</div>
