---
layout: default
---




<div class="row g-5 mb-1">
  <div class="col-md-6">
    <h3 class="fw-bold border-bottom pb-3 mb-1">About</h3>
    {{ content }}
  </div>
  <div class="col-md-6">
    <img align="right" src="{{ site.github.url }}/assets/img/cover.jpeg" alt="Home" class="rounded float-right" width="40%">
  </div>
</div>


<hr class="m-0" />
            <!-- Education-->
	    
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h3 class="fw-bold border-bottom pb-3 mt-4 mb-1">Education</h3>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h5 class="mb-0">Purdue University </h5>
                            <div class="subheading mb-3">Doctor of Philosophy - Computer Science</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2018 - November 2023</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h5 class="mb-0">Purdue University </h5>
                            <div class="subheading mb-3">Masters of Science - Computer Science</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Requirements fulfilled.</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h5 class="mb-0">University of Engineering & Technology, Lahore</h5>
                            <div class="subheading mb-3">Bachelor of Science - Electrical Engineering</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2010 - May 2015</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />


<div class="row g-5 mb-1">
	  <div class="col-md-12">
   		 <h3 class="fw-bold border-bottom mt-4 pb-3 mb-1">Professional Experience</h3>
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-0">

            
                        <div class="flex-grow-1">
                            <h5 class="mb-0">Postdoctoral Researcher</h5>
                            <div class="subheading mb-0">Purdue University</div>
                            <p>Working on embedded systems security and program analysis technologies.</p>
                        </div>
 			            <div class="flex-shrink-0"><span class="text-primary">December 2023 - Current</span></div>
                    </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-0">
			            <div class="flex-grow-1">
                            <h5 class="mb-0">Interim Engineering Intern</h5>
                            <div class="subheading mb-0">Qualcomm</div>
                            <p>Worked on enhahcing Qualcomm's Trusted Execution Environment (TEE) OS (QSEE/QTEE) </p>
                        </div>
 			            <div class="flex-shrink-0"><span class="text-primary">Summer 2022, 2023</span></div>
                    </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-0">
                        <div class="flex-grow-1">
                            <h5 class="mb-0">Senior Software Developer</h5>
                            <div class="subheading mb-0">Mentor Graphics</div>
                            <p>Worked on design and rework of <a href="https://www.mentor.com/embedded-software/nucleus/"> Nucleus RTOS </a> for Industry 4.0.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Jul 2016 – Jul 2018</span></div>
                    </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-0">
                        <div class="flex-grow-1">
                            <h5 class="mb-0">Software Developer</h5>
                            <div class="subheading mb-0">Mentor Graphics</div>
                            <p>Worked on the design and development of <a href="https://www.mentor.com/embedded-software/hypervisor/">Mentor Embedded Hypervisor</a>.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Jun 2015 – Jul 2016</span></div>
                    </div>
                    
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-0">
                        <div class="flex-grow-1">
                            <h5 class="mb-0">Intern</h5>
                            <div class="subheading mb-0">Al-Khwarizmi Institute of Computer Science (KICS)</div>
                            <p>Developed POC for various systems mostly inclined to concentrated solar energy such as heliostats, parabolic troughs and fresnels</a>.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Summer 2014</span></div>
                    </div>

                </div>
            </section>

	</div>
</div>



     

{% include publications.html %}
<!--
<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h2 class="fw-bold border-bottom pb-3 mb-5">Updates</h2>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
-->

<hr class="m-0" />
<div class="row g-5 mb-1">
          <div class="col-md-12">
                 <h3 class="fw-bold border-bottom mt-4 pb-3 mb-1">Teaching Experience</h3>
          </div>
</div>


<hr class="m-0" />
<div class="row g-5 mb-1">
          <div class="col-md-12">
                 <h3 class="fw-bold border-bottom mt-4 pb-3 mb-1">Mentoring Experience</h3>

<h5>Pursec Mentees:</h5>

<h6>Graduate Researchers:</h6>
<ul>
    <li>
        <strong>Muqi Zou (PhD):</strong> (PhD Purdue University)<br>
        <em>Project:</em> Fuzzing SGX programs using program mutations
    </li>
    <li>
        <strong>Arush Arora (PhD):</strong> (PhD Purdue University)<br>
        <em>Project:</em> Securing TOR networks using trusted computing.
    </li>
</ul>

<h6>Undergraduate Researchers:</h6>
<ul>
    <li>
        <strong>Seunghyun Yeo (Victor) (SNU):</strong><br>
        <em>Project:</em> Architecture-independent enclave Migration using Open Enclave.
    </li>
    <li>
        <strong>Sai Raj Karra (Software Engineer at Apple):</strong><br>
        <em>Project:</em> Fingerprinting Linux kernel using trusted execution.
    </li>
    <li>
        <strong>Joseph Hsu (Computer Scientist at Air Force Research Lab):</strong><br>
        <em>Project:</em> Dynamic firmware analysis using ARM Coresight.
    </li>
    <li>
        <strong>Jack Xiang (Passion Fin):</strong><br>
        <em>Project:</em> Fingerprinting Linux kernel using trusted execution.
    </li>
</ul>

<h5> Purdue CSGSA Mentees :</h5>

<h6> 2022 </h6>
<ul>
    <li>Li, Lixiang (PhD): PhD Purdue University</li>
    <li>Chen, Xuan (PhD): PhD Purdue University</li>
    <li>Sree Sai Ankit Rao Pittala (MS): MS Purdue University</li>
    <li>Devin Attila Ersoy (MS): MS Purdue University (Interned at Signify)</li>
    <li>Rucha Shrikant Deshpande(MS): MS Purdue University</li>
    <li>Terzoglou, Athina (PhD): PhD Purdue University</li>
    <li>Basile, Dante John Artas (PhD): PhD Purdue University</li>
    <li>Luo, Xinyu (PhD): PhD Purdue University</li>
</ul>

<h6> 2021 </h6>
<ul>
    <li>Janani Vijayarajan (M.S) - Software Engineer, R&amp;D at Axtria - Ingenious Insight</li>
    <li>Natarajan, Abhiram (Phd) - EPSRC postdoctoral fellow at University of Warwick (Previously, postdoctoral fellow at the University of Colorado at Boulder)</li>
    <li>Wu, Shuang (Phd) - Ph.D. candidate in Statistics at University of California, Los Angeles</li>
    <li>Benjamin Bond (PhD) - Ph.D. Purdue University (Interned at Idaho National Lab)</li>
    <li>William Lu (PhD) - PhD Purdue University (Interned at Google and Microsoft)</li>
</ul>


<hr class="m-0" />
</div>
</div>

<hr class="m-0" />
            <div class="row g-5 mb-3">
          <div class="col-md-12">
            <!-- Education-->
<section class="resume-section" id="services">
                <div class="resume-section-content">
<h2>Professional Services</h2>
    <ul>
        <li><strong>Artifact Evaluation Committee (AEC):</strong> USENIX Security 2022, EuroSys 2023, ACM CCS 2023</li>
        <li><strong>External Reviewer:</strong></li>
        <ul>
            <li> USENIX Security 2023-24</li>
            <li> IEEE S&P 2021</li>
            <li> NDSS 2021</li>
        </ul>    
    </ul>
    </div>
</section>
</div>
</div>


<hr class="m-0" />
            <div class="row g-5 mb-3">
          <div class="col-md-12">
            <!-- Education-->
<section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="fw-bold border-bottom pb-3 mt-4 mb-1">Engagement, Diversity, and Outreach Activities</h2>
    <ul>
        <li><strong>Lead Graduate Student - PURSEC Lab</strong> (2020–Current)</li>
        <p>Organized the security reading group at Purdue and managed research logistics for PURSEC.</p>

        <li><strong>President - Computer Science Graduate Student Association</strong> (2022–Current)</li>
        <p>Organized various activities for the graduate student association.</p>

        <li><strong>Ombudsperson - Computer Science Department</strong> (Fall 2018 - Current)</li>
        <p>Part of the Ombuds Services program at Purdue Graduate School.</p>

        <li><strong>Diversity Coordinator</strong></li>
        <p>Part of the Diversity Task Force at Purdue CS.</p>

        <li><strong>Faculty Search Committee Representative</strong></li>
        <p>Part of the faculty search/recruitment process at Purdue CS.</p>
    </ul>

                </div>
            </section>
</div>
</div>

<hr class="m-0" />
            <div class="row g-5 mb-3">
          <div class="col-md-12">
            <!-- Education-->
<section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="fw-bold border-bottom pb-3 mt-4 mb-1">Awards & Certifications</h2>
                    <ul class="fa-ul mb-0">
			<li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Outstanding Service to the Department of Computer Science, Purdue University (2023)
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            <a target="_blank" href="https://www.purdue.edu/gradschool/fellowship/fellowship-resources-for-staff/managed-fellowships/recruitment-fellowships.html">Andrews Fellowship, Purdue University (2018-2020)</a>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            <b>ROLE MODEL </b> focal review, Mentor Graphics (2016)
                        </li>
                    </ul>
                </div>
            </section>
</div>
</div>

<hr class="m-0" />
<div class="row g-5 mb-1">
  <div class="col-md-12">
    <h2 class="fw-bold border-bottom pb-3 mt-4 mb-1">Interests</h2>
                    <p>Apart from being a security researcher, i like to travel and hike. I've visited most of Northeren Pakistan and various places around the US. When forced indoors, I like to play games (I have achieved ELO of 1700+ on Age Of Empires using unconventional methods), learn new instruments and play with synthesizers. Here's some music i've written over the years. </p>
                    <p align="center"> <iframe width="50%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/837738305&color=%23ab5a10&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/arslan_khan_8" title="arslan_khan_8" target="_blank" style="color: #cccccc; text-decoration: none;">arslan_khan_8</a> · <a href="https://soundcloud.com/arslan_khan_8/sets/arslan" title="Arslan" target="_blank" style="color: #cccccc; text-decoration: none;">Arslan</a></div> </p>
                    
  </div>
</div>

